<!--/image_raw/compressed :: /camera_right_hand/image_raw/compressed,    /kinect2/qhd/image_color    /segmentation  -->
<launch>

<node name="camera_right_hand_link_broadcaster" pkg="tf" type="static_transform_publisher" args="-0.015 0.0 0.02 1.5760323 0.0 1.0471975 overhead_camera_link camera_right_hand_optical 10"/>

  <node pkg="terrain_feature_fuser" type="terrain_feature_fuser" name="terrain_feature_fuser" output="screen">
    <param name="image_transport" value="compressed" />
    <remap from="/points_raw" to="/cloud_filtered" />

    <remap from="/image_raw/compressed" to="/camera_right_hand/image_raw/compressed" />
    <remap from="/image_seg" to="segmentation" />
  </node> 
  
</launch>
